.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: calc(100vh - 179px);
}

.footer {
  background: #056a6b;
  color: #fff;
  padding: 1em;
}

.footerInner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}